<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style/abe.css"/>
    <title>Abe</title>
  </head>
  <body>
    <nav class="nav__Container">
      <div class="nav__Container__Grid">
        <img src="static/images/abe.png" alt="logoAbe" />
        <ul class="nav__Container__Menu">
          <li class="nav__Container__Select">
            <a href="/inicio" class="nav__Main__Anchore">Inicio</a>
          </li>
          <li class="nav__Container__Select">
            <a href="/nosotros" class="nav__Main__Anchore">Nosotros</a>
          </li>
          <li class="nav__Container__Select">
            <a href="/equipos" class="nav__Main__Anchore">Equipos </a>
          </li>
          <li class="nav__Container__Select">
            <a href="/ingenieria" class="nav__Main__Anchore"
              >Ingenieria <span>↓</span></a
            >
            <div class="nav__Container__Option">
              <a href="">Proyectos</a>
              <a href="">RTecorridos Virtuales</a>
            </div>
          </li>
          <li class="nav__Container__Select">
            <a href="">irrsa <span>↓</span></a>
            <div class="nav__Container__Option">
              <a href="">Nosotros</a>
              <a href="">Recipientes y Paquetes</a>
              <a href="">Servicios</a>
              <a href="">Tableros</a>
            </div>
          </li>
          <li class="nav__Container__Select"><a href="">Contacto</a></li>
        </ul>
      </div>
      <div class="slogan__Container">
        <strong class="slogan__Container__Text">
          Lideres en refrigeración industrial una industria para todas tus
          necesidades
        </strong>
      </div>
    </nav>

    <main>
      <div>
        <strong>
          A. BLASQUEZ E. REFRIGERACION INDUSTRIAL S.A. DE C.V. 84 años de
          fabricación de excelencia y calidad!
        </strong>
        <p>
          Empresa dedicada al sistema de refrigeración industrial desde 1938 año
          de su fundación y que a lo largo de los años se ha consolidado como la
          empresa contratista numero uno de México y Latinoamérica. Nuestra
          estrategia empresarial es darte una satisfacción mayor a tus
          expectativas situadas con nosotros, con una calidad absoluta en cada
          uno de nuestros servicios y productos, otorgándote así la máxima
          seguridad de alcanzar la eficiencia en tu proyecto. Conócenos y
          permítenos crecer junto contigo.
        </p>
        <img src="/media/001.png" alt="media" />
      </div>
      <div>
        <strong>Mueestra de Parrafo</strong>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum iste
          inventore eveniet corporis exercitationem repellendus voluptate
          nesciunt ex delectus dicta, illo quasi dolorem quae facere accusamus
          cupiditate error nemo est.
        </p>
        <img src="/media/001.png" alt="media" />
      </div>
      <div>
        <strong>Mueestra de Parrafo</strong>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum iste
          inventore eveniet corporis exercitationem repellendus voluptate
          nesciunt ex delectus dicta, illo quasi dolorem quae facere accusamus
          cupiditate error nemo est.
        </p>
        <img src="/media/001.png" alt="media" />
      </div>
    </main>
    <script src="static/scripts/abeNavegation.js"></script>
  </body>
</html>
