<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bloque de estilos-->
    <link rel="icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/style/root.css" />
    <link rel="stylesheet" href="static/style/nav.css" />
    <link rel="stylesheet" href="static/style/main.css" />
    <link rel="stylesheet" href="static/style/footer.css" />
    <!-- Bloque de estilos-->

    <title>Conctacto</title>
  </head>
  <body>
    <!--  Bloque de Navegacion-->
    <nav class="nav_container">
      <div class="nav_container_logo">
        <img src="static/images/python_logo.png" alt="Python_Logo" />
        <img src="static/images/js_logo.png" alt="Javascript_Logo" />
      </div>
      <ul class="navegation_menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/tech">Tecnologia</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <!--  Bloque de Navegacion-->
    <main></main>
    <!-- Bloque de Footer -->
    <footer>
      <div class="footer_container">
        <p>Powered By <span>ADEVS</span> ©2025</p>
      </div>
    </footer>
    <!-- Bloque de Footer -->
  </body>
</html>
