<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bloque de estilos-->
    <link rel="icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/style/root.css" />
    <link rel="stylesheet" href="static/style/nav.css" />
    <link rel="stylesheet" href="static/style/main.css" />
    <link rel="stylesheet" href="static/style/footer.css" />
    <!-- Bloque de estilos-->

    <title>Tablero de Proyectos</title>
  </head>
  <body class="body_container">
    <!--  Bloque de Navegacion-->
    <nav class="nav_container">
      <div class="nav_container_logo">
        <img src="static/images/python_logo.png" alt="Python_Logo" />
        <img src="static/images/js_logo.png" alt="Javascript_Logo" />
      </div>
      <ul class="navegation_menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/tech">Tecnologia</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <!--  Bloque de Navegacion-->
    <main>
      <div class="main_cotainer_wd">
        <div class="main_headerText">
          <strong>💻 Tablero de Proyectos 🖱️</strong>
        </div>
        <div class="grid_container">
          <div class="card_select">
            <strong>Pasarela Bancaria</strong>
            <i>Estado: <span>En Fase de Desarollo</span></i>
            <p>Simulacion del proceso Bancario en modelos de Compra</p>
            <p class="level_class">★★★☆☆</p>
            <img src="static/images/bank.png" alt="logo_card_select" />
            <div>
              <a href="/pasarela" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>ReBuild de Página Web </strong>
            <i>Estado: <span>En Fase de Maquetacion</span></i>
            <p>Nueva propuesta para Landing Page Empresarial</p>
            <p class="level_class">★★☆☆☆</p>
            <img src="static/images/abe.png" alt="logo_card_select" />
            <div>
              <a href="/rebuild" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>Framework Front-End</strong>
            <i>Estado: <span>En Planeacion</span></i>
            <p>Implementacion de Front-End React al Proyecto</p>
            <p class="level_class">★★★☆☆</p>
            <img src="static/images/react.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>CSS Pro+</strong>
            <i>Estado: <span>En Planeacion</span></i>
            <p>Implementacion de Front-End React al Proyecto</p>
            <p class="level_class">★★★☆☆</p>
            <img src="static/images/css.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>Poke API Comparador</strong>
            <i>Estado: <span>En Planeacion</span></i>
            <p>Consumo de Api PokeGit para Comparacion Reactiva</p>
            <p class="level_class">★★☆☆☆</p>
            <img src="static/images/pokemon.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>POS Tienda</strong>
            <i>Estado: <span>En Fase de Desarollo</span></i>
            <p>Simulacion del proceso de Compra y venta</p>
            <p class="level_class">★★★★☆</p>
            <img src="static/images/shop.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>Loteria Selector </strong>
            <i>Estado: <span>En Fase de Desarollo</span></i>
            <p>Selector de Numeros Especiales para el Juego de Loteria</p>
            <p class="level_class">★★★☆☆</p>
            <img src="static/images/loteria.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>Buzon de Correo Electonico </strong>
            <i>Estado: <span>En Fase de Desarollo</span></i>
            <p>Generador de Correo Electronico y Buzon de Lectura</p>
            <p class="level_class">★★☆☆☆</p>
            <img src="static/images/mail.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Bloque de Footer -->
    <footer>
      <div class="footer_container">
        <p>Powered By <span>ADEVS</span> ©2025</p>
      </div>
    </footer>
    <!-- Bloque de Footer -->
  </body>
</html>
