<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style/nav.css" />
    <link rel="stylesheet" href="static/style/root.css" />
    <link rel="stylesheet" href="/static/style/main.css" />
    <link rel="icon" href="static/favicon.ico" />
    <title>Menu Principal</title>
  </head>
  <body class="body_container">
    <nav class="nav_container">
      <div class="nav_container_logo">
        <img src="static/images/python_logo.png" alt="Python_Logo" />
        <img src="static/images/js_logo.png" alt="Javascript_Logo" />
      </div>
      <ul class="navegation_menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/tech">Tecnologia</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    <main>
      <div class="main_cotainer_wd">
        <div class="grid_contanier">
          <div class="card_select">
            <strong>Pasarela Bancaria</strong>
            <i>Estado: <span>En Fase de Desarollo</span></i>
            <p>Simulacion del proceso Bancario en modelos de Compra</p>
            <p>⭐⭐</p>
            <img src="static/images/bank.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>ReBuild de Página Web </strong>
            <i>Estado: <span>En Fase de Maquetacion</span></i>
            <p>Nueva propuesta para Landing Page Empresarial</p>
            <p>⭐</p>
            <img src="static/images/abe.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>


          <div class="card_select">
            <strong>Framework Front-End</strong>
            <i>Estado: <span>En Planeacion</span></i>
            <p>Implementacion de Front-End React al Proyecto</p>
            <p>⭐⭐⭐</p>
            <img src="static/images/react.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>

          <div class="card_select">
            <strong>Poke API Comparador</strong>
            <i>Estado: <span>En Planeacion</span></i>
            <p>Consumo de Api PokeGit para Comparacion Reactiva</p>
            <p>⭐⭐</p>
            <img src="static/images/pokemon.png" alt="logo_card_select" />
            <div>
              <a href="#" class="navegation_button">Ir</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
